
body {
  margin: 0;
  font-family: "微软雅黑";
  font-size: 12px;
  color: #333;
}

a {
  color: unset;
  text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
