@import '@styles/constant.scss';

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 1px 3px rgb(18 18 18 / 10%);
  font-size: 15px;
  .tab-list {
    width: $main-width;
    margin: auto;
    display: flex;
    .tab-item {
      display: block;
      height: $header-height;
      line-height: $header-height;
      padding: 0 40px;
      &:hover, &.active {
        background-color: #333;
        color: #fff;
      }
    }
  }
}
